.container {
    padding: 20px 47px;

    font-size: 20px;
    font-weight: 600;

    color: var(--color-text);
    background: var(--color-destak);

    border: none;
    border-radius: 50px;

    cursor: pointer;

    transition: opacity, transform 0.3s ease-in-out;
}

.container:hover {
    opacity: 0.9;

    transform: scale(0.95);
}

@media screen and (max-width: 885px) {
    .container {
        font-size: 18px;
    }
}

@media screen and (max-width: 361px) {
    .container {
        padding: 20px 40px;
    }
}