.container {
    width: 100%;
    height: auto;

    padding: 30px 120px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: var(--color-neutral);
}

.container .description {
    width: 575px;
}

.container .description h1 {
    font-size: 48px;
    font-weight: 600;

    line-height: 110%;

    color: var(--color-text);
}

.container .description p {
    font-size: 18px;
    font-weight: 400;

    line-height: 140%;

    margin-top: 24px;

    color: var(--color-text);
}

.container .description button {
    margin-top: 32px;
}

.container .image img {
    width: 400px;
    height: auto;
}

@media screen and (max-width: 1281px) {
    .container {
        padding: 30px 100px;
    }
    
    .container .image img {
        width: 350px;
        height: auto;
    }
}

@media screen and (max-width: 1001px) {
    .container {
        padding: 30px 50px;
    }

    .container .description {
        width: 50%;
    }

    .container .description h1 {
        font-size: 38px;
    }
}

@media screen and (max-width: 769px) {
    .container {
        padding: 30px;
    }
}