* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Figtree", sans-serif;
}

:root {
    --color-background: #FBFBFB;

    --color-destak: #BB9740;
    --color-neutral: #FBF4EC;

    --color-text: #111;
}

html, body {
    scroll-behavior: smooth;

    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100vh;

    background: var(--color-background);
}