.container {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 30px 120px;

    background: var(--color-neutral);
}

.container img {
    width: 85px;
    height: auto;
}

@media screen and (max-width: 1201px) {
    .container {
        padding: 30px 100px;
    }
}

@media screen and (max-width: 1001px) {
    .container {
        padding: 30px 50px;
    }
}

@media screen and (max-width: 769px) {
    .container {
        padding: 30px;
    }
}

@media screen and (max-width: 441px) {
    .container {
        padding: 20px;
        justify-content: center;
    }

    .container button {
        display: none;
    }

    .container img {
        width: auto;
        height: 71px;
    }
}